{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Open API Vendas"
  },
  "host": "empresa.com.br",
  "basePath": "/v1",
  "tags": [
    {
      "name": "vendas",
      "description": "API para operações de vendas"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/venda/{nsu}": {
      "get": {
        "tags": [
          "vendas"
        ],
        "summary": "Buscar uma venda através do seu NSU",
        "description": "Retorna uma única venda",
        "operationId": "getVendaByNSU",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "path",
            "description": "NSU da venda",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Consulta realizada com sucesso",
            "schema": {
              "$ref": "#/definitions/Venda"
            }
          },
          "400": {
            "description": "NSU inválido"
          },
          "404": {
            "description": "Venda não encontrada"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "sales_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://empresa.com.br/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "read:sales": "leitura das vendas"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Venda": {
      "type": "object",
      "properties": {
        "nsu": {
          "type": "integer",
          "format": "int64"
        },
        "data": {
          "type": "string",
          "format": "date-time"
        },
        "valor": {
          "type": "number",
          "format": "double"
        },
        "status": {
          "type": "string",
          "description": "Status da venda",
          "enum": [
            "aprovada",
            "cancelada",
            "reprovada"
          ]
        },
        "modalidadeVenda": {
          "type": "string"
        },
        "modalidadePagamentoVenda": {
          "type": "string"
        },
        "parcelas": {
          "$ref": "#/definitions/Parcela"
        },
        "pontoVenda": {
          "$ref": "#/definitions/PontoVenda"
        }
      },
      "xml": {
        "name": "Venda"
      }
    },
    "Parcela": {
      "type": "object",
      "properties": {
        "numero": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string",
          "description": "Status da parcela",
          "enum": [
            "paga",
            "pendente",
            "cancelada"
          ]
        },
        "valor": {
          "type": "number",
          "format": "double"
        }
      },
      "xml": {
        "name": "Parcela"
      }
    },
    "PontoVenda": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nomeFantasia": {
          "type": "string"
        },
        "cnpj": {
          "type": "string"
        }
      },
      "xml": {
        "name": "PontoVenda"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
